.additionally {
  border: none;
}

.additionally__title {
  position: relative;
  width: 160px;
  margin-bottom: 34px;
  font-family: $main-font;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;

  @include tablet {
    width: 220px;
    margin-bottom: 57px;
    font-size: 36px;
    line-height: 36px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 164px;
    display: block;
    width: 43vw;
    height: 2px;
    background-color: $green-color;
    z-index: 1;

    @include tablet {
      top: 23px;
      left: 250px;
      width: 59vw;
    }

    @include desktop {
      width: 75vw;
    }
  }

  &::after {
    @include tablet {
      content: "";
      position: absolute;
      top: 23px;
      right: 262px;
      display: block;
      width: 100vw;
      height: 2px;
      background-color: $green-color;
      z-index: -1;
    }
  }
}

.additionally__list {
  @include tablet {
    display: grid;
    grid-template-columns: 221px 190px;
    grid-column-gap: 122px;
  }

  @include desktop {
    grid-template-columns: repeat(4, 221px);
    grid-column-gap: 104px;
  }
}

.additionally__item {
  @include tablet {
    margin-bottom: 16px;
  }

  @include desktop {
    margin-bottom: 0;
  }
}
