.additionally__title {
  font-family: $main-font;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
}

@media (min-width: $tablet-width) {
  .additionally__list {
    display: grid;
    grid-template-columns: 221px 190px;
    grid-column-gap: 122px;
  }
}

@media (min-width: $desktop-width) {
  .additionally__list{
    display: flex;
  }
}

