.advantages {
  margin-bottom: 49px;

  @include tablet {
    margin-bottom: 10px;
  }

  @include desktop {
    margin-bottom: 31px;
  }
}

.advantages__wrapper {
  @include desktop {
    padding-top: 3px;
  }
}

.advantages__title {
  margin-top: 0;
  margin-bottom: 40px;
  margin-left: 2px;
  font-family: $main-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;

  @include tablet {
    margin-bottom: 32px;
    margin-left: 1px;
    font-size: 60px;
    line-height: 60px;
  }

  @include desktop {
    margin-top: 0;
    margin-bottom: 29px;
    margin-left: 0;
  }
}

.advantages__list {
  padding-left: 80px;

  @include tablet {
    display: grid;
    grid-template-columns: 247px 249px;
    grid-column-gap: 137px;
    padding-left: 0;
  }

  @include desktop {
    grid-template-columns: repeat(4, 250px);
    grid-column-gap: 74px;
  }
}

.advantages__item {
  position: relative;
  margin-bottom: 25px;

  @include tablet {
    margin-bottom: 37px;
    padding-top: 151px;
    padding-bottom: 57px;
  }
}

.advantages__item:nth-child(1) {
  @include tablet {
    background-image: url("../img/number-one.png");
    background-position: 73% 70%;
    background-size: 28%;
    background-repeat: no-repeat;
  }
}

.advantages__item:nth-child(2) {
  @include tablet {
    background-image: url("../img/number-two.png");
    background-position: 90% 70%;
    background-size: 45%;
    background-repeat: no-repeat;
  }
}

.advantages__item:nth-child(3) {
  margin-bottom: 24px;

  @include tablet {
    background-image: url("../img/number-three.png");
    background-position: 92% 60%;
    background-size: 45%;
    background-repeat: no-repeat;
  }
}

.advantages__item:nth-child(4) {
  @include tablet {
    background-image: url("../img/number-four.png");
    background-position: 97% 70%;
    background-size: 48%;
    background-repeat: no-repeat;
  }
}

.advantages__item--consist::before {
  position: absolute;
  top: 0;
  left: -79px;
  width: 60px;
  height: 60px;
  background-image: url("../img/leaf.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  content: "";

  @include tablet {
    top: 40px;
    left: 0;
    width: 80px;
    height: 80px;
  }

  @include desktop {
    top: 43px;
    left: 0;
  }
}

.advantages__item--consistence::before {
  position: absolute;
  top: 0;
  left: -79px;
  width: 60px;
  height: 60px;
  background-image: url("../img/water.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  content: "";

  @include tablet {
    top: 40px;
    left: 0;
    width: 80px;
    height: 80px;
  }

  @include desktop {
    top: 43px;
    left: 1px;
  }
}

.advantages__item--functionality::before {
  position: absolute;
  top: 0;
  left: -79px;
  width: 60px;
  height: 60px;
  background-image: url("../img/cutlery.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  content: "";

  @include tablet {
    top: 40px;
    left: 0;
    width: 80px;
    height: 80px;
  }

  @include desktop {
    top: 43px;
    left: 2px;
  }
}

.advantages__item--efficiency::before {
  position: absolute;
  top: -1px;
  left: -79px;
  width: 60px;
  height: 60px;
  background-image: url("../img/timer.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  content: "";

  @include tablet {
    top: 40px;
    left: 0;
    width: 80px;
    height: 80px;
  }

  @include desktop {
    top: 43px;
    left: 3px;
  }
}

.advantages__description {
  padding-top: 2px;
  margin-bottom: 0;
  color: $silver-color;

  @include tablet {
    margin-top: 0;
    font-size: 16px;
    line-height: 24px;
  }

  @include desktop {
    margin-top: 1px;
  }
}

.advantages__description span::after {
  @include tablet {
    content: " ";
    display: block;
  }
}
