.button {
  display: block;
  box-sizing: border-box;
  margin: 0;
  font-family: $main-font;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $white-color;
  background-color: $green-color;
  border: none;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  &--silver {
    color: $silver-color;
    background-color: $white-100-color;
  }
}
