.button {
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  background-color: #68b738;
  border: none;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  &--silver {
    color: #444444;
    background-color: #F2F2F2;
  }
}
