.catalog-promo {
  color: $white-color;

  @include desktop {
    margin-top: 117px;
    margin-right: 110px;
    margin-left: -30px;
  }
}

.catalog-promo__wrapper {
  margin-bottom: 35px;
  padding: 187px 0 43px 0;
  background-color: $green-color;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/cat-background-catalog.jpg");
  background-position: center;
  background-size: 100% auto, cover;
  background-repeat: no-repeat;

  @include tablet {
    margin-bottom: 76px;
    padding: 71px 0 69px 0;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/cat-background-catalog-tablet.jpg");
  }

  @include desktop {
    width: 246px;
    padding-top: 185px;
    padding-right: 0;
    padding-bottom: 44px;
    padding-left: 0;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/cat-background-catalog-desktop.jpg");
    background-size: 100% auto, contain;
  }
}

.catalog-promo__text {
  position: relative;
  width: 161px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 58px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  @include tablet {
    width: 161px;
    margin-left: 422px;
    text-align: start;
  }

  @include desktop {
    margin-left: 41px;
    text-align: center;
  }
}

.catalog-promo__text::before {
  position: absolute;
  top: -128px;
  left: 43px;
  width: 78px;
  height: 80px;
  background-image: url("../img/icon-gift.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  content: "";

  @include tablet {
    top: -10px;
    left: -345px;
    width: 80px;
    height: 83px;
  }

  @include desktop {
    top: -130px;
    left: 40px;
  }
}
