.choice:not(:last-child) {
  padding-bottom: 13px;

  @include tablet {
    padding-bottom: 18px;
  }

  @include desktop {
    padding-bottom: 13px;
  }
}

.choice__label-input {
  margin-right: 15px;
}

.choice__label-name {
  font-family: $main-font;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $silver-200-color;
  text-transform: uppercase;

  @include tablet {
    font-size: 20px;
    line-height: 30px;
  }
}
