.comment {
  border: none;
}

.comment__title {
  position: relative;
  margin-bottom: 38px;
  font-family: $main-font;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;

  @include tablet {
    margin-bottom: 76px;
    font-size: 36px;
    line-height: 36px;
  }
}

.comment__title::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 143px;
  display: block;
  width: 200vh;
  height: 2px;
  background-color: $green-color;
  z-index: 1;

  @include tablet {
    top: 23px;
    left: 220px;
  }
}

.comment__title::after {
  @include tablet {
    content: "";
    position: absolute;
    top: 23px;
    right: 215px;
    display: block;
    width: 100vh;
    height: 2px;
    background-color: $green-color;
    z-index: -1;
  }
}


.comment__field {
  width: 253px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px 12px 126px 15px;
  font-family: $main-font;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $silver-color;
  text-transform: uppercase;
  border: 1px solid $white-200-color;
  resize: none;

  @include tablet {
    width: 630px;
    padding: 10px 19px 134px;
    font-size: 20px;
    line-height: 30px;
  }

  @include desktop {
    width: 1182px;
  }
}
