.comment {
  border: none;
}

.comment__title {
  position: relative;
  width: 150px;
  margin-bottom: 38px;
  font-family: $main-font;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;

  @include tablet {
    width: 200px;
    margin-bottom: 76px;
    font-size: 36px;
    line-height: 36px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 143px;
    display: block;
    width: 50vw;
    height: 2px;
    background-color: $green-color;
    z-index: 1;

    @include tablet {
      top: 23px;
      left: 220px;
      width: 63vw;
    }

    @include desktop {
      width: 77vw;
    }
  }

  &::after {
    @include tablet {
      content: "";
      position: absolute;
      top: 23px;
      right: 245px;
      display: block;
      width: 100vw;
      height: 2px;
      background-color: $green-color;
      z-index: -1;
    }
  }
}


.comment__field {
  width: 253px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px 12px 102px 15px;
  font-family: $main-font;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $silver-color;
  text-transform: uppercase;
  border: 1px solid $white-200-color;
  resize: none;

  &:hover {
    border: 1px solid $white-600-color;
  }

  &:focus {
    padding: 9px 11px 101px 14px;
    border: 2px solid $silver-color;
    outline: none;
  }

  &:invalid {
    padding: 9px 11px 125px 14px;
    border: 2px solid $red-color;
    outline: none;
  }

  @include tablet {
    width: 591px;
    padding: 10px 19px 101px;
    font-size: 20px;
    line-height: 30px;

    &:focus {
      padding: 9px 18px 100px;
    }

    &:invalid {
      padding: 9px 18px 100px;
    }
  }

  @include desktop {
    width: 1182px;
  }
}
