.copyright {
  color: $black-color;
  background-color: $white-color;
}

.copyright__logo {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 19px;
  color: $silver-color;
  text-decoration: none;
}
