.copyright__logo {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 19px;
  color: $silver-color;
  text-decoration: none;

  &:active {
    fill: $green-color;
    opacity: 0.3;
  }

  @include tablet {
    width: 163px;
  }
}

.copyright__logo-icon {
  fill: $silver-100-color;

  &:hover {
    fill: $green-color;
  }

  &:active {
    fill: $green-color;
  }
}
