.example__wrapper {
  display: grid;
  grid-template-columns: 124px 124px;
  grid-column-gap: 32px;

  @include tablet {
    grid-template-columns: 162px 162px 299px;
    grid-column-gap: 42px;
  }

  @include desktop {
    grid-template-columns: 436px 560px;
    grid-column-gap: 224px;
  }
}

.example__title {
  grid-column: 1 / -1;
  font-family: $main-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.example__description {
  grid-column: 1 / -1;

  @include desktop {
    grid-column: 1 / 2;
  }
}

.example__block {
  @include desktop {
    grid-column: 1 / 2;
  }
}

.example__block-term {
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
}

.example__block-definition {
  font-family: $main-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
}

.example__expenses {
  grid-column: 1 / -1;
  font-family: $main-font;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;

  @include tablet {
    grid-column: 3 / 4;
  }

  @include desktop {
    grid-column: 1 / 2;
  }
}

.example__cat-slider {
  grid-column: 1 / -1;

  @include desktop {
    grid-column: 2 / 3;
  }
}
