.example {
  background-color: $white-500-color;
}

.example__wrapper {
  display: grid;
  grid-template-columns: 124px 124px;
  grid-column-gap: 32px;
  padding-top: 25px;
  padding-bottom: 40px;

  @include tablet {
    grid-template-columns: 162px 162px 299px;
    grid-column-gap: 42px;
  }

  @include desktop {
    grid-template-columns: 436px 560px;
    grid-column-gap: 224px;
  }
}

.example__title {
  margin-top: 0;
  margin-bottom: 40px;
  grid-column: 1 / -1;
  font-family: $main-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.example__description {
  margin-top: 0;
  margin-bottom: 20px;
  grid-column: 1 / -1;

  @include desktop {
    grid-column: 1 / 2;
  }
}

.example__block {
  position: relative;
  margin-top: 0;
  margin-bottom: 34px;
  padding: 15px 20px 18px;
  border: 1px solid $white-600-color;
  text-align: center;

  @include desktop {
    grid-column: 1 / 2;
  }
}

.example__block-term {
  position: absolute;
  top: 50px;
  left: 20px;
  width: 77px;
  font-size: 12px;
  line-height: 12px;
  background-color: $white-500-color;
  text-align: center;
  text-transform: lowercase;
}

.example__block-definition {
  margin-left: 0;
  font-family: $main-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
}

.example__expenses {
  margin-top: 0;
  margin-bottom: 20px;
  grid-column: 1 / -1;
  font-family: $main-font;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;

  @include tablet {
    grid-column: 3 / 4;
  }

  @include desktop {
    grid-column: 1 / 2;
  }
}

.example__cat-slider {
  grid-column: 1 / -1;
  width: 280px;
  height: 256px;
  background-image: url("../img/cat-slider-mobile.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include desktop {
    grid-column: 2 / 3;
  }
}
