.example {
  background-color: $white-500-color;

  @include tablet {
    background: linear-gradient(to bottom, $white-color 57%, $white-500-color 43%);
  }

  @include desktop {
    background: linear-gradient(to top, $white-100-color 77%, $white-color 23%);
  }
}

.example__wrapper {
  display: grid;
  grid-template-columns: 124px 124px;
  grid-column-gap: 32px;
  padding-top: 28px;
  padding-bottom: 40px;

  @include tablet {
    grid-template-columns: 162px 162px 299px;
    grid-column-gap: 42px;
    padding-top: 41px;
    padding-bottom: 101px;
  }

  @include desktop {
    grid-template-columns: 433px 560px;
    grid-template-rows: min-content min-content auto min-content;
    grid-column-gap: 227px;
    padding-top: 0;
    padding-bottom: 75px;
  }
}

.example__title {
  margin-top: 0;
  margin-bottom: 40px;
  grid-column: 1 / -1;
  font-family: $main-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;

  @include tablet {
    margin-bottom: 63px;
    font-size: 60px;
    line-height: 60px;
  }

  @include desktop {
    margin-bottom: 146px;
    grid-row: 1 / 2;
  }
}

.example__description {
  margin-top: 0;
  margin-bottom: 20px;
  grid-column: 1 / -1;
  color: $silver-color;

  @include tablet {
    margin-bottom: 54px;
    font-size: 16px;
    line-height: 24px;
  }

  @include desktop {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-bottom: 69px;
  }
}

.example__block {
  position: relative;
  margin-top: 0;
  margin-bottom: 36px;
  padding: 13px 19px 15px 21px;
  border: 1px solid $white-600-color;
  text-align: center;

  @include tablet {
    margin-bottom: 99px;
    padding: 15px 30px 18px 30px;
  }

  @include desktop {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    margin-bottom: 62px;
  }
}

.example__block:nth-child(1) {
  margin-right: 32px;

  @include tablet {
    margin-right: 42px;
  }
}

.example__block-wrapper {
  display: flex;
}

.example__block-term {
  position: absolute;
  top: 45px;
  left: 22px;
  width: 77px;
  font-size: 12px;
  line-height: 12px;
  background-color: $white-500-color;
  text-align: center;
  text-transform: lowercase;

  @include tablet {
    top: 63px;
    left: 15px;
    width: 132px;
    font-size: 14px;
    line-height: 14px;
    background-color: $white-color;
  }

  @include desktop {
    background-color: $white-100-color;
  }
}

.example__block-definition {
  width: 82px;
  margin-left: 0;
  font-family: $main-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;

  @include tablet {
    width: 102px;
    margin-left: -1px;
    font-size: 30px;
    line-height: 37px;
  }
}

.example__expenses {
  margin-top: 0;
  margin-bottom: 20px;
  grid-column: 1 / -1;
  font-family: $main-font;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;

  @include tablet {
    grid-column: 3 / 4;
    margin-top: 11px;
    margin-bottom: 0;
    margin-left: 120px;
    font-size: 20px;
    text-align: right;
  }

  @include desktop {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    text-align: left;
  }
}

.example__expenses span {
  @include tablet {
    display: block;
    margin-top: 10px;
  }

  @include desktop {
    display: inline;
    margin-top: 0;
    margin-left: 61px;
  }
}

.example__cat-slider {
  grid-column: 1 / -1;
  width: 280px;
  height: 256px;
  background-image: url("../img/cat-slider-mobile.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include tablet {
    width: 560px;
    height: 512px;
    margin: 0 auto;
    background-image: url("../img/cat-slider-tablet.png");
  }

  @include desktop {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
  }
}
