.input {
  display: flex;
}

.input__label {
  flex-grow: 1;
  font-family: $main-font;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $silver-color;
  text-transform: uppercase;

  @include tablet {
    font-size: 20px;
    line-height: 30px;
  }
}

.input__field {
  flex-grow: 3;
  font-family: $main-font;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $silver-color;
  border: 1px solid $white-200-color;
  text-transform: uppercase;

  &::placeholder {
    color: $silver-color;
  }

  @include tablet {
    flex-grow: 30;
    font-size: 20px;
    line-height: 30px;
  }
}
