.logo {
  margin-top: 10px;
}

.logo__image {
  width: 191px;
  height: 38px;

  @include tablet {
    width: 174px;
    height: 52px;
  }

  @include desktop {
    width: 202px;
    height: 59px;
  }
}
