.main-footer {
  padding: 40px 0;
  background-color: $white-100-color;

  @include tablet {
    padding: 55px 0;
  }

  @include desktop {
    padding: 66px 0;
  }
}

.main-footer__wrapper {
  text-align: center;

  @include tablet {
    display: flex;
    justify-content: space-between;
  }
}

.main-footer__logo {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-footer__social {
  margin-top: 32px;
  padding-top: 20px;
  padding-bottom: 21px;
  padding-left: 74px;
  border-top: 1px solid $white-400-color;
  border-bottom: 1px solid $white-400-color;

  @include tablet {
    margin-top: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
  }
}

.main-footer__copyright {
  margin-top: 22px;
  margin-bottom: 22px;

  @include tablet {
    margin-top: 0;
    margin-bottom: 0;
  }
}
