.main-nav {
  width: 320px;
}

.main-nav__wrapper {
  width: 320px;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: 440px;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 478px;
  }
}
