.main-header {
  padding-top: 10px;

  @include tablet {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
  }

  @include desktop {
    justify-content: space-between;
    padding-top: 53px;
  }
}

.main-header__logo {
  width: 192px;
  height: 38px;
  background-color: $white-color;

  @include tablet {
    width: 174px;
    height: 52px;
  }

  @include desktop {
    width: 202px;
    height: 59px;
  }
}
