.main-footer {
  padding: 40px 0;
  background-color: $white-100-color;

  @include tablet {
    padding: 55px 0;
  }

  @include desktop {
    padding: 66px 0;
  }
}

.main-footer__wrapper {
  text-align: center;

  @include tablet {
    display: flex;
    justify-content: space-between;
  }
}

.main-footer__logo {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @include tablet {
    margin-top: 2px;
  }
}

.main-footer__logo-icon {
  @include tablet {
    width: 143px;
    height: 27px;
  }
}

.main-footer__social {
  margin-top: 15px;
  padding-top: 23px;
  padding-bottom: 15px;
  padding-left: 73px;
  border-top: 1px solid $white-400-color;
  border-bottom: 1px solid $white-400-color;

  @include tablet {
    margin-top: 0;
    margin-left: 0;
    padding-top: 8px;
    padding-bottom: 0;
    padding-left: 24px;
    border: none;
  }
}

.main-footer__copyright {
  margin-top: 22px;

  @include tablet {
    margin-top: 0;
  }
}
