.main-header-desktop {
  position: relative;
}

@media (min-width: $desktop-width) {
  .main-header-desktop {
    display: block;
  }

  .main-header-desktop::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #68b738;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/cat-background-index-desktop.jpg");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    content: "";
    z-index: -1;
  }
}
