.main-header {
  padding-top: 10px;
  padding-bottom: 18px;

  @include tablet {
    display: flex;
    justify-content: space-between;
  }
}

.main-header--mobile {
  @include mobile-only {
    width: 280px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

.main-header--tablet {
  @include tablet {
    width: 708px;
    margin: 0 auto;
    padding: 0 30px;
  }

  @include desktop {
    width: 1220px;
    padding: 0 110px;
    padding-top: 53px;
  }
}

.main-header__logo {
  background-color: $white-color;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
