.map {
  width: 320px;
  background-color: $white-color;
}

@media (min-width: $tablet-width) {
  .map {
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .map {
    width: $desktop-width;
  }
}
