.map {
  background-color: $white-color;
}

.map__image {
  width: 320px;
  height: 362px;
  margin: 0 auto;
  border: none;
  display: block;

  @include tablet {
    width: 768px;
    height: 400px;
  }
}
