.nutrition-selection {
  margin-bottom: 20px;

  @include tablet {
    margin-bottom: 45px;
  }

  @include desktop {
    display: flex;
    margin: 0 auto;
    margin-bottom: 71px;
  }
}

.nutrition-selection__wrapper {
  margin-top: 20px;
  padding-top: 30px;
  padding-right: 33px;
  padding-bottom: 18px;
  padding-left: 20px;
  background-color: $white-100-color;

  @include tablet {
    margin-top: 0;
    margin-bottom: 30px;
    padding-top: 77px;
    padding-right: 0;
    padding-bottom: 53px;
    padding-left: 0;
  }

  @include desktop {
    width: 570px;
    margin-bottom: 0;
    padding-bottom: 55px;
  }
}

.nutrition-selection__wrapper:nth-child(1) {
  @include desktop {
    margin-right: 80px;
  }
}

.nutrition-selection__wrapper:nth-child(2) {
  @include desktop {
    margin-left: 0;
  }
}

.nutrition-selection__title {
  position: relative;
  margin-top: 0;
  margin-bottom: 29px;
  margin-left: 71px;
  font-family: $main-font;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;

  @include tablet {
    margin-bottom: 24px;
    margin-left: 53px;
    font-size: 36px;
    line-height: 36px;
  }

  @include desktop {
    margin-bottom: 73px;
    margin-left: 214px;
  }
}

.nutrition-selection__title--slim::before {
  position: absolute;
  top: -10px;
  left: -69px;
  width: 50px;
  height: 53px;
  background-image: url("../img/cat-slim.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  content: "";

  @include tablet {
    top: 0;
    left: 394px;
    width: 200px;
    height: 211px;
  }

  @include desktop {
    top: -25px;
    left: -162px;
    width: 100px;
    height: 106px;
  }
}

.nutrition-selection__title--pro::before {
  position: absolute;
  top: -10px;
  left: -78px;
  width: 67px;
  height: 50px;
  background-image: url("../img/cat-pro.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  content: "";

  @include tablet {
    top: 0;
    left: 360px;
    width: 268px;
    height: 200px;
  }

  @include desktop {
    top: -25px;
    left: -181px;
    width: 134px;
    height: 100px;
  }
}

.nutrition-selection__description {
  margin-top: 0;
  margin-bottom: 15px;
  padding-bottom: 23px;
  border-bottom: 1px solid $white-400-color;
  color: $silver-color;

  @include tablet {
    width: 340px;
    margin-bottom: 48px;
    margin-left: 52px;
    padding-bottom: 0;
    border: none;
    color: $black-color;
    font-size: 16px;
    line-height: 24px;
  }

  @include desktop {
    width: 457px;
    margin-bottom: 23px;
  }
}

.nutrition-selection__link {
  position: relative;
  font-family: $main-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $black-color;
  text-decoration: none;
  text-transform: uppercase;

  @include tablet {
    margin-left: 52px;
    font-size: 20px;
    line-height: 30px;
  }
}

.nutrition-selection__link::after {
  position: absolute;
  top: 6px;
  right: -50px;
  width: 32px;
  height: 10px;
  background-image: url("../img/icon-arrow.svg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  content: "";

  @include tablet {
    top: 8px;
  }
}
