.options {
  display: grid;
  grid-template-columns: 70px 70px;
  background-color: $white-color;
}

.options__term {
  grid-column: 1 / 2;
}

.options__definition {
  grid-column: 2 / 3;
  margin-left: 0;
  text-align: right;
}
