.owner-data {
  border: none;
}

.owner-data__title {
  position: relative;
  width: 200px;
  margin-bottom: 35px;
  font-family: $main-font;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;

  @include tablet {
    width: 520px;
    margin-bottom: 76px;
    font-size: 36px;
    line-height: 36px;
    background-color: $white-color;
    z-index: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 205px;
    display: block;
    width: 30vw;
    height: 2px;
    background-color: $green-color;
    z-index: -1;

    @include tablet {
      top: 23px;
      left: 550px;
      width: 20vw;
    }

    @include desktop {
      width: 54vw;
    }
  }

  &::after {
    @include tablet {
      content: "";
      position: absolute;
      top: 23px;
      right: 562px;
      display: block;
      width: 100%;
      height: 2px;
      background-color: $green-color;
      z-index: -1;
    }
  }
}

.owner-data__list {
  @include desktop {
    display: grid;
    grid-template-columns: 569px 572px;
    column-gap: 78px;
  }
}
