.pet-data {
  border: none;
}

.pet-data__list {
  position: relative;
  padding-bottom: 22px;

  &::after {
    content: "";
    position: absolute;
    top: 186px;
    left: -10vw;
    display: block;
    width: 105vw;
    height: 1px;
    background-color: $white-400-color;

    @include tablet {
      display: none;
    }
  }
}
