.product-card {
  position: relative;
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: min-content min-content 43px;
  row-gap: 14px;
  margin-bottom: 0;
  padding-top: 22px;
  padding-bottom: 22px;

  @include tablet {
    grid-template-columns: 248px;
    grid-template-rows: 200px min-content min-content 47px;
    row-gap: 21px;
    margin-bottom: 61px;
    padding: 8px 39px 39px;
    background: linear-gradient(to top, $white-100-color 84%, $white-color 16%);
  }

  @include desktop {
    grid-template-columns: 168px;
    grid-template-rows: 200px min-content min-content 47px;
    margin-bottom: 63px;
    padding: 0 35px 40px 40px;
  }
}

.product-card::after {
  content: "";
  position: absolute;
  top: -1px;
  left: -10vw;
  display: block;
  width: 105vw;
  height: 1px;
  background-color: $white-550-color;

  @include tablet {
    display: none;
  }
}

.product-card__link-image {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  margin-top: 12px;
  text-align: center;

  @include tablet {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    margin-top: 0;
  }

  @include desktop {
    margin-left: 0;
  }
}

.product-card__image-min {
  @include tablet {
    margin-top: 28px;
  }
}

.product-card__link-title {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  color: $black-color;
  text-decoration: none;
  text-transform: uppercase;

  @include tablet {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    margin-top: 13px;
    text-align: center;
  }

  @include desktop {
    margin-top: 20px;
  }
}

.product-card__title {
  width: 76px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: $main-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $silver-200-color;

  @include tablet {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    width: 134px;
    height: 47px;
    margin-left: 57px;
    font-size: 20px;
    line-height: 24px;
  }

  @include desktop {
    margin-left: 20px;
    line-height: 21px;
  }
}

.product-card__options {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 16px;
  color: $silver-color;

  @include tablet {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    font-size: 16px;
  }
}

.product-card__button {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  margin-top: 4px;
  padding: 11px 109px;
  font-size: 16px;
  line-height: 20px;

  @include tablet {
    grid-row: 4 / 5;
    margin-top: 8px;
    padding: 10px 90px;
  }

  @include desktop {
    padding: 10px 40px;
  }
}
