.product-catalog__wrapper {
  padding-top: 27px;
  border-top: 1px solid $white-600-color;

  @include tablet {
    padding-top: 60px;
    border: none;
  }

  @include desktop {
    padding-top: 74px;
  }
}

.product-catalog__title {
  margin-bottom: 40px;
  text-align: start;

  @include tablet {
    margin-bottom: 82px;
    font-size: 60px;
    line-height: 60px;
  }

  @include desktop {
    margin-bottom: 84px;
  }
}

.product-catalog__list {
  @include tablet {
    display: grid;
    grid-template-columns: 324px 324px;
    grid-column-gap: 60px;
  }

  @include desktop {
    grid-template-columns: repeat(4, 245px);
    grid-column-gap: 80px;
  }
}
