.product-catalog__wrapper {
  padding-top: 27px;
  border-top: 1px solid $white-600-color;
}

.product-catalog__title {
  margin-bottom: 30px;
  text-align: start;
}

.product-catalog__list {
  @include tablet {
    display: grid;
    grid-template-columns: 324px 324px;
    grid-column-gap: 60px;
  }

  @include desktop {
    grid-template-columns: repeat(4, 245px);
    grid-column-gap: 80px;
  }
}
