.program-selection__wrapper {
  padding-top: 27px;
  border-top: 1px solid $white-600-color;

  @include tablet {
    width: 630px;
    padding-top: 60px;
    padding-right: 67px;
    padding-left: 68px;
    border: none;
  }

  @include desktop {
    width: 1220px;
    padding-top: 72px;
    padding-right: 110px;
    padding-left: 110px;
    border: none;
  }
}

.program-selection__title {
  margin-bottom: 37px;
  text-align: start;

  @include tablet {
    margin-bottom: 54px;
    font-size: 60px;
    line-height: 60px;
  }

  @include desktop {
    margin-bottom: 56px;
  }
}

.program-selection__discription {
  margin-top: 0;
  margin-bottom: 39px;
  font-family: $main-font;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;

  @include tablet {
    margin-bottom: 66px;
    font-size: 20px;
    line-height: 30px;
  }
}

.program-selection__data-container {
  @include desktop {
    display: grid;
    grid-template-columns: 569px 568px;
    column-gap: 80px;
  }
}

.program-selection__pet-data {
  @include reset-indents;
  margin-bottom: 22px;

  @include tablet {
    margin-bottom: 52px;
  }

  @include desktop {
    grid-column: 1 / 2;
    margin-bottom: 46px;
  }
}

.program-selection__target {
  @include reset-indents;
  margin-bottom: 25px;

  @include tablet {
    margin-bottom: 75px;
  }

  @include desktop {
    grid-column: 2 / 3;
    margin-bottom: 46px;
  }
}

.program-selection__owner-data {
  @include reset-indents;
  margin-bottom: 23px;

  @include tablet {
    margin-bottom: 63px;
  }

  @include desktop {
    margin-bottom: 67px;
  }
}

.program-selection__comment {
  @include reset-indents;
  margin-bottom: 23px;

  @include tablet {
    margin-bottom: 65px;
  }

  @include desktop {
    margin-bottom: 67px;
  }
}

.program-selection__additionally {
  @include reset-indents;
  margin-bottom: 35px;

  @include tablet {
    margin-bottom: 28px;
  }

  @include desktop {
    margin-bottom: 48px;
  }
}

.program-selection__container {
  margin-bottom: 32px;

  @include tablet {
    display: flex;
    margin-bottom: 72px;
  }

  @include desktop {
    margin-bottom: 82px;
  }
}

.program-selection__button {
  width: 280px;
  margin-bottom: 21px;
  padding: 11px 44px;
  font-size: 16px;

  @include tablet {
    width: 282px;
    margin-bottom: 0;
    padding: 16px 45px;
    font-size: 20px;
  }

  @include desktop {
    width: 568px;
    padding: 16px 188px;
  }
}

.program-selection__legend {
  margin-left: 64px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  @include tablet {
    margin-top: 13px;
    font-size: 16px;
  }

  @include desktop {
    margin-left: 84px;
  }
}
