.program-target {
  border: none;
}

.program-target__list {
  position: relative;
  padding-bottom: 24px;

  @include tablet {
    padding: 0 28px;
    padding-top: 20px;
    padding-bottom: 27px;
    border: 1px solid $white-400-color;
  }

  &::after {
    content: "";
    position: absolute;
    top: 138px;
    left: -10vw;
    display: block;
    width: 105vw;
    height: 1px;
    background-color: $white-400-color;

    @include tablet {
      display: none;
    }
  }
}

.program-target__item {
  @include tablet {
    font-size: 20px;
    line-height: 30px;
  }
}
