.social__link {
  color: $black-color;
  text-decoration: none;
}

.social__link-icon {
  fill: $silver-100-color;

  &:hover {
    fill: $green-color;
  }

  &:active {
    fill: $green-color;
    opacity: 0.3;
  }
}

.social__list {
  display: flex;
  width: 125px;
  justify-content: space-between;
}
