.additional-products {
  padding: 36px 0;
}

.additional-products__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

.additional-products__button {
  padding: 10px 109px;
}
