.product-card {
  padding: 11px 0;
}

.product-card__link-title {
  color: #000000;
  text-decoration: none;
}

.product-card__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #222222;
}

.product-card__options {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.product-card__button {
  padding: 10px 109px;
}
