.product-card-all {
  text-align: center;
}

.product-card-all__link-title {
  color: #000000;
  text-decoration: none;
}

.product-card-all__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #222222;
}

.product-card-all__description {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.product-card-all__button {
  padding: 10px 94px;
}
