.program-selection {
  color: #000000;
  background-color: #ffffff;
}

.program-selection__title {
  text-align: start;
}

.program-selection__discription {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.program-selection__button {
  padding: 7px 44px;
}

.program-selection__legend {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}
