@import "./variable.scss";
@import "./fonts.scss";
@import "./blocks/page.scss";
@import "./blocks/clear-list.scss";
@import "./blocks/visually-hidden.scss";
@import "./blocks/logo.scss";
@import "./blocks/title.scss";
@import "./blocks/button.scss";
@import "./blocks/main-header.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/site-list.scss";
@import "./blocks/main-container.scss";
@import "./blocks/main-promo.scss";
@import "./blocks/nutrition-selection.scss";
@import "./blocks/advantages.scss";
@import "./blocks/example.scss";
@import "./blocks/product-catalog.scss";
@import "./blocks/product-card.scss";
@import "./blocks/product-card-all.scss";
@import "./blocks/options.scss";
@import "./blocks/additional-products.scss";
@import "./blocks/complement.scss";
@import "./blocks/catalog-promo.scss";
@import "./blocks/program-selection.scss";
@import "./blocks/pet-data.scss";
@import "./blocks/pet-item.scss";
@import "./blocks/program-target.scss";
@import "./blocks/choice.scss";
@import "./blocks/owner-data.scss";
@import "./blocks/owner-item.scss";
@import "./blocks/comment.scss";
@import "./blocks/additionally.scss";
@import "./blocks/input.scss";
@import "./blocks/contacts.scss";
@import "./blocks/map.scss";
@import "./blocks/main-footer.scss";
@import "./blocks/social.scss";
@import "./blocks/copyright.scss";
