$white-color: #ffffff;
$white-100-color: #f2f2f2;
$white-200-color: #e7e7e7;
$black-color: #000000;
$silver-color: #444444;
$silver-200-color: #222222;
$silver-400-color: #111111;
$green-color: #68b738;
$main-font: "Oswald", sans-serif;
